<MarketplaceDetails>
  <SmallAppTile>ApplicationIcon.png</SmallAppTile>
  <ScreenShots>1(WVGA).png;2(WVGA).png;3(WVGA).png;4(WVGA).png;5(WVGA).png;6(WVGA).png;;;</ScreenShots>
  <ScreenShotsWXGA>1(WXGA).png;2(WXGA).png;3(WXGA).png;4(WXGA).png;5(WXGA).png;6(WXGA).png;;;</ScreenShotsWXGA>
  <ScreenShots720P>1(720p).png;2(720p).png;3(720p).png;4(720p).png;5(720p).png;6(720p).png;;;</ScreenShots720P>
</MarketplaceDetails>